.env

# output
/.temp
/.tmp
/build
/dist

# dependencies
/node_modules
.package.swp

# linters
.eslintcache/
.eslintrc
.eslintrc.yaml
.eslintrc.json
.eslintrc.js
.stylelintcache/
.stylelintrc
.stylelintrc.yaml
.stylelintrc.json
.stylelintrc.js

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/